body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    }
    header{
      background-color: cadetblue;
      color: #f0f8ff; 
      padding: 20px; 
    }
    header{
      margin: 0;
      font-size: 25;
    }
    nav{
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: aquamarine;

    }
    nav ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    nav li{
      margin: 0 30px;
    }
    nav a{
      text-decoration: none;
      color: cadetblue;
    }
    main{
      max-width: 1000px;
      margin: 0 auto;
      padding: ;

    }
    section{
      margin-bottom: 20;
    }
    section h2{
margin:0 0 20pxs 0;
padding: auto;
font-size: 20pxs;
    }
    footer{
      background-color:aqua;
      padding: 0;
      align-content: center;
    }